/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  height: calc(100vh);
}
section,figure {
  margin: 0;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  /*display: block;*/
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

/*
*gallery start
*/
.gallery {
  position: relative;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  background-color: #ddd; 
  perspective: 1800px;
}
.gallery .img-figure {
  position: absolute;
  padding: 10px;
  width: 220px;
  height: 280px;
  color: black;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #fff; 
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform .6s ease-in-out,
              left .6s ease-in-out,
              top .6s ease-in-out; 
  box-sizing: border-box;
}
.gallery .img-figure.is-inverse {
  transform: translate(220px) rotateY(180deg);
}
.gallery .img-figure img {
  width: 200px;
  height: 200px;
}
figcaption {
  text-align: center;
}
figcaption .img-title {

}
figcaption .img-back {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  text-align: left;
  background-color: #fff;
  transform: rotate(180deg) translateZ(1px);
  box-sizing: border-box;
  backface-visibility: inherit;
}
/*
*gallery end
*/